body{background:#FF8956}

body{padding-top:115px !important;}
@charset "utf-8";
.common-header { position: relative;}
.wrap{ background:#ececec}
.ranking_title{position:relative; margin-top:50px; margin-bottom:30px;color: #2d2d2d; font-family: Open Sans; font-style: normal; font-weight: bold; font-size: 30px; line-height: 95px; text-align: center;}
.table_ranker {position: relative;background:white; margin-right: 12px; margin-left: 12px; box-shadow: 1px 1px 5px lightgray;}
.table_ranker table {position: relative;width: 100%;}
.table_ranker th {height: 68px;font-size: 16px;color:#333;font-weight: normal}
.container2{width:1250px; margin:0 auto;}

.table_list{    margin-top: 40px;}
.table_ranker tr{}
.table_ranker td {height:65px;font-size: 16px;padding:30px; padding-top: 40px; color:#969696;text-align: center; }
.profile{border-radius:100%;}
.table_ranker .ranker_tr{height:120px;}
.table_ranker .crown{position:absolute; z-index:100; top:90px;}
.table_ranker td.ranker {width: 500px;color:#666666;font-size: 30px;font-weight: 700; }
.table_ranker td.rank {padding:0 9px; padding-left:50px;color:#666666;font-size: 33px;font-weight: 700;}
.table_ranker td.profile_ranker{}
.table_ranker td.profile_ranker img{width:100px;}

.table_ranker td.name_ranker {position:relative; text-align: center; font-size:28px;color:#2d2d2d;font-weight: bold; padding-top: 0; padding-bottom: 40px;}
.table_ranker td.name {text-align: left;color:#666666; font-size:20px; font-style: normal; font-weight: normal;}
.table_ranker td.rivew_ranker{font-size:20px; text-align:center; padding-bottom: 40px;}
.table_ranker td.rivew{text-align:right; padding-right:60px;}
.table_ranker td.rank .cover {position: absolute;left:0;top:0;z-index: 3;display: block;width: 120px;height: 120px;background:  url('https://ssl.nx.com/S2/Game/ca/ca2019/sub/bg_rank_cover.png') no-repeat;}
.table_ranker td.rank2 .cover {background-position: 0 -120px}
.table_ranker td.rank3 .cover {background-position: 0 -240px}

.table_list2{
    margin: 12px;
    margin-top: 30px; }
.table_rank {background:white; width: 1225px; margin-bottom: 24px; box-shadow: 1px 1px 5px lightgray;}
.table_rank td {height:65px;font-size: 16px;padding:30px; color:#969696;text-align: center; }
.table_rank .profile{border-radius:100%;}
.table_rank .ranker_tr{height:120px;}
.table_rank .crown{position:absolute; z-index:100; top:90px;}
.table_rank td.rank {padding:0 9px; width: 100px; text-align: left; padding-left:50px;color:#666666;font-size: 33px;font-weight: 700;}
.table_rank td.profile_ranker{}
.table_rank td.profile_ranker img{width:100px;}

.table_rank td.name {text-align: left; color:#666666; font-size:20px; font-style: normal; font-weight: normal;}
.table_rank td.rivew{text-align:right; padding-right:60px; width:200px;}
.table_rank td.rank .cover {position: absolute;left:0;top:0;z-index: 3;display: block;width: 120px;height: 120px;background:  url('https://ssl.nx.com/S2/Game/ca/ca2019/sub/bg_rank_cover.png') no-repeat;}
.table_rank td.rank2 .cover {background-position: 0 -120px}
.table_rank td.rank3 .cover {background-position: 0 -240px}


.table_ranker2 {position: relative; cursor:pointer; background:white; margin-right: 12px; margin-left: 12px; margin-top: 24px; box-shadow: 1px 1px 5px lightgray;}
.table_ranker2:hover{filter:brightness(0.8)}
.table_ranker2 table {position: relative;width: 100%;}
.table_ranker2 th {height: 68px;font-size: 16px;color:#333;font-weight: normal}
.container2{width:1250px; margin:0 auto;}

.table_list{    margin-top: 40px;}
.table_ranker2 tr{}
.table_ranker2 td {height:65px;font-size: 16px;padding:30px; padding-top: 0px; color:#6d6969;text-align: center; }

.table_ranker2 .ranker_tr{height:120px;}
.table_ranker2 .crown{position:absolute; z-index:100; top:90px;}
.table_ranker2 td.ranker { width: 500px;color:#666666;font-size: 33px;font-weight: 700; }
.table_ranker2 td.rank {padding:0 9px; padding-left:50px;color:#666666;font-size: 33px;font-weight: 700;}
.table_ranker2 td.profile_ranker{}
.table_ranker2 td.profile_ranker img{width:100px;}

.table_ranker2 td.name_ranker {position:relative; text-align: center; font-size:28px;color:#2d2d2d;font-weight: bold; padding-top: 0; padding-bottom: 40px;}
.table_ranker2 td.name {text-align: left;color:#666666; font-size:20px; font-style: normal; font-weight: normal;}
.table_ranker2 td.rivew_ranker{font-size:20px; text-align:center; padding-bottom: 40px;}
.table_ranker2 td.rivew{text-align:right; padding-right:60px;}
.table_ranker2 td.rank .cover {position: absolute;left:0;top:0;z-index: 3;display: block;width: 120px;height: 120px;background:  url('https://ssl.nx.com/S2/Game/ca/ca2019/sub/bg_rank_cover.png') no-repeat;}
.table_ranker2 td.rank2 .cover {background-position: 0 -120px}
.table_ranker2 td.rank3 .cover {background-position: 0 -240px}

.table_list2{
    margin: 12px;
    margin-top: 30px;}
.table_rank {background:white;  width: 1225px; margin-bottom: 24px; box-shadow: 1px 1px 5px lightgray;}
.table_rank td {height:65px;font-size: 16px;padding:30px; color:#969696;text-align: center; }
.table_rank .profile{border-radius:100%;}
.table_rank .ranker_tr{height:120px;}
.table_rank .crown{position:absolute; z-index:100; top:90px;}
.table_rank td.rank {padding:0 9px; width: 100px; text-align: left; padding-left:50px;color:#666666;font-size: 33px;font-weight: 700;}
.table_rank td.profile_ranker{}
.table_rank td.profile_ranker img{width:100px;}

.table_rank td.name {text-align: left; color:#666666; font-size:20px; font-style: normal; font-weight: normal;}
.table_rank td.rivew{text-align:right; padding-right:60px; width:200px;}
.table_rank td.rank .cover {position: absolute;left:0;top:0;z-index: 3;display: block;width: 120px;height: 120px;background:  url('https://ssl.nx.com/S2/Game/ca/ca2019/sub/bg_rank_cover.png') no-repeat;}
.table_rank td.rank2 .cover {background-position: 0 -120px}
.table_rank td.rank3 .cover {background-position: 0 -240px}

/* DEMO 5 */

.wrapper-dropdown-5:focus {
    border-radius: 5px 5px 0 0;
    background: #ff976a;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5:focus:after {
    border-color: #ff976a transparent;
}

.wrapper-dropdown-5:focus .dropdown {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    background: transparent; 
}

::-moz-selection {
    background: transparent; 
}

.wrapper-demo {
    margin: 40px 0 0 0;
    *zoom: 1;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    letter-spacing:2px;
}

.wrapper-demo:after {
    clear: both;
    content: "";
    display: table;
}

/* DEMO 5 */

.wrapper-dropdown-5 {
    /* Size & position */
    width: 400px;
    font-family: 'Jua', sans-serif;
    position: relative;
    margin: 0 auto;
    padding: 12px 15px;

    /* Styles */
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-5:after { /* Little arrow */
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #ffa57d transparent;
}

.wrapper-dropdown-5 .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    /* Styles */
    background: #fff;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Hiding */
    max-height: 0;
    overflow: hidden;
}

.wrapper-dropdown-5 .dropdown li {
    font-family: 'Jua', sans-serif;
    padding: 0 10px ;
}

.wrapper-dropdown-5 .dropdown li a {
    font-family: 'Jua', sans-serif;
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 0;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #e6e8ea;
}

.wrapper-dropdown-5 .dropdown li:last-of-type a {
    font-family: 'Jua', sans-serif;
    border: none;
}

.wrapper-dropdown-5 .dropdown li i {
    font-family: 'Jua', sans-serif;
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown-5 .dropdown li:hover a {
    font-family: 'Jua', sans-serif;
    color: #ff976a;
}

/* Active state */

.wrapper-dropdown-5.active {
    font-family: 'Jua', sans-serif;
    border-radius: 5px 5px 0 0;
    background: #ff976a;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.wrapper-dropdown-5.active:after {
    font-family: 'Jua', sans-serif;
    border-color: #ffa57d transparent;
}

.wrapper-dropdown-5.active .dropdown {
    font-family: 'Jua', sans-serif;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}


.res_image_div{overflow: hidden; position: relative; width: 350px; height: 250px; margin: 0 auto; text-align:center; background:#e7e7e7;}
.res_image{width: 100%; height: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto; }