


	.common-header { position: relative;}
.wrap{}
.content{
		width:1200px;
	    padding: 80px 0 0 0;
	    margin: 0 auto;
}

#img_stamp{
    position: relative;

left: 400px;
top: 69px;
}



.title{
	display:inline-block;
	position:relative;
	top:100px;
}
.title_table{
	width:500px;
}

.title_table tr{
	height:100px;
}
#res_name{
border-bottom: 4px solid #FF8956;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 47px;
text-align: center;

}

#text_star{
    position: relative;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
text-align: center
}

#star{
    position: relative;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 41px;
text-align: center
}

.score{
	 position: relative;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 41px;
text-align: center
}




.menu_wrap{
    position: relative;
    margin-top: 120px;
    display: inline-block;
}
.menu_title{
    position: relative;

    padding-bottom: 25px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
text-align: center;
}


.menu_table{
    position: relative;
	width: 500px;
	height: 334px;
	
	background: #FFFFFF;
border: 3px solid #FF8956;
box-sizing: border-box;
border-radius: 6px;
}

#menu{
    position: relative;
width: 106px;
padding-left:30px;
padding-top:20px;
padding-bottom:20px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 50px;
}

.menu_price{
    position: relative;
width: 106px;
    text-align: right;
padding-right:30px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 50px;
}




.tip_wrap{
	  position: relative;
    margin-top: 120px;
    display: inline-block;
  float:right;
 	top:45px;
}

.tip_title{
position: relative;

padding-bottom: 25px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 41px;
text-align: center;

}


.tip_table{

	 position: relative;
	width: 500px;
	height: 334px;
	background: #FFFFFF;
border: 3px solid #FF8956;
box-sizing: border-box;
border-radius: 6px;
}

#tip{
	position: relative;
width: 106px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
text-align: center;
}




#goto_review_box{
    position: relative;
width: 351px;
height: 57px;
left: 70px;
top: 20px;

background: #FF8956;
border-radius: 5px;
}

#goto_review_box .text_goto_review{
    position: relative;
    left: 5px;
    top: 13px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    /* or 117% */
    
    text-align: center;
    
    color: #FFFFFF;
    
}

#goto_review_box .text_goto_review a{
    text-decoration: none;
}


#footer .footer_icon{ float:left; border-radius:10%; margin-right:25px;}
#footer .sns{padding-left:50px;top:-5px;}
#footerWrap {position: relative; left:0; width:100%;clear:both; text-align:center; background: #f5f5f5; border-top:1px solid #ccc; margin-top:150px;}
#footer {height:95px; width:1495px; margin:0 auto; padding-top:25px; text-align:left; position:relative;}
#footer div {float:left; position: relative; height:61px; text-align:left; }
#footer .copy {position:relative; padding-left:50px;font-weight:600; bottom:15px; color:#666; font-size:12px;}
	
@media only screen and (max-width : 900px) {
    #screen{
        position: relative;
        width: 800px;
        height: 2000px;   
    }
    #header{
        position: relative;
        left:600px;
    }

    #map_restaurant{
        position: relative;
        left:220px;
        top:240px;
    }


    #text_star{
        position: relative;
        top:630px;
    }

    #star{
        position :relative;
        top:700px;
    }

    #text_menu{
        position: relative;
        top:850px;
    }

    
    #menu_box{
        position: relative;
        top:930px;
    }


    #text_honeytip{
        position: relative;
        top:1330px;
        left:340px;
    }


    #honeytip_underbar{
        position: relative;
        left:220px;
        top:1390px;
    }

    #honeytip_box{
        position: relative;
        left:200px;
        top:1450px;
    }


    #goto_review_box{
        position: relative;
        left:250px;
        top:1740px;
    }

    #footerWrap{
        position: relative;
        top:2000px;
    }

}
/* 스마트폰 가로 */
@media only screen and (max-width : 1200px) {
    #screen{
        width:auto;
    }
}  
